/*head*/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.menu .preview {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0px 10px 0px;
    max-width: 1200px;
    margin: 0 auto; 
}

.menu .preview a {
    margin-right: 10px;
    color: black; 
    text-decoration: none; 
    font-family: avenir, sans-serif;
}

.menu .secondline{
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
}
div.logo img{
    width: 200px;
    display: block;
    padding: 0px 0px 20px 20px;
    margin:0 auto;
    justify-content: flex-start;
}

.menu .nav {
    margin: 30px 0px 30px 0px;
    margin-left:auto;
}

.menu .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu .nav ul li {
    display: inline;
    margin-right: 20px;
}

.menu .nav ul li a {
    color: black; 
    text-decoration: none; 
}

.menu .nav ul li a:hover {
    text-decoration: underline #bc9a6a 3px;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  padding: 0 10px;
  min-height: 100vh;
  background: white;
  align-items: center;
  justify-content: center;
}
::selection{
  color: #fff;
  background: #0D6EFD;
}
.contact-wrap{
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white; 
  position: absolute;
}

.banner-full {
    width: 100%;
    background-image: url('../images/hotel.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.wrap{
    margin-top:-800px;
    background-color: #f4f2f3;
    padding: 20px;
    border-radius: 20px;
}
.contact-wrap header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
  color: black;
}
.contact-wrap form{
  margin: 35px 30px;
}

.contact-wrap form.disabled{
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.contact-wrap form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: #ccc;
}
.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: 2px solid #0D6EFD;
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: #0D6EFD;
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}
form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button{
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #0D6EFD;
  transition: background 0.3s ease;
}
.button-area button:hover{
  background: #025ce3;
}
.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
@media (max-width: 600px){
  .contact-wrap header{
    text-align: center;
  }
  .contact-wrap form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}

